/* 전체페이지공통 */
#wrap {
    width: 100%;
    min-width: 1600px;
}
#header,
#visual,
#sub-visual,
#container,
#content,
#footer {
    width: 100%;
}
.inner {
    width: 1520px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

/* 헤더 */

#header {
    width: 100%;
    height: 170px;
    position: relative;
}
#header::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100px;
    background: #303030;
}
#header .inner {
    width: 1520px;
    height: 100px;
    background: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#header .menu_wrap h1 {
    display: inline;
    left: 0;
    top: 50px;
}

#header #gnb-list {
    position: absolute;
    right: 30px;
}
#header #gnb-list .main_gnb {
    position: relative;
    display: flex;
}
#header #gnb-list .main_gnb li {
    margin-right: 40px;
}
#header #gnb-list .main_gnb li:last-child {
    margin-right: 0;
}
#header #gnb-list .main_gnb li .head {
    width: 30px;
    height: 30px;
    color: #efefef;
    font-weight: 300;
    letter-spacing: 0.55px;
    /* transition: 0.4s; */
}

#header #gnb-list .main_gnb li .head:hover::after {
    content: attr(title);
    display: block;
    font-weight: bold;
}
#header #gnb-list .main_gnb li:hover > a {
    color: #f1bb00;
    font-weight: 800;
    letter-spacing: -0.5px;
}
#header #gnb-list .main_gnb li:nth-child(5):hover > a {
    letter-spacing: -0.52px;
}
#header #gnb-list .main_gnb li:nth-child(6):hover > a {
    letter-spacing: -0.4px;
}
#header #gnb-list .main_gnb > li:last-child a {
    position: absolute;
    top: -3px;
    display: block;
    margin-right: 0px;
    width: 30px;
    height: 30px;
    background: #303030;
    border: 1px solid #efefef;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
    background-image: url(../../images/common/login_icon.png);
}
#header #gnb-list .main_gnb > li:last-child:hover a {
    border: 1px solid #f1bb00;
    background-image: url(../../images/common/login_icon_hover.png);
}
#header #gnb-list .main_gnb li .sub_gnb {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 65px;
    /* left: 50%; */
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}
#header #gnb-list .main_gnb li .sub_gnb.on {
    opacity: 1;
    pointer-events: auto;
}
/* 하위메뉴 위치 */
#header #gnb-list .main_gnb li:nth-child(1) .sub_gnb.on {
    left: -50px;
    pointer-events: auto;
}
#header #gnb-list .main_gnb li:nth-child(2) .sub_gnb.on {
    left: -35px;
    pointer-events: auto;
}
#header #gnb-list .main_gnb li:nth-child(3) .sub_gnb.on {
    left: 190px;
    pointer-events: auto;
}
#header #gnb-list .main_gnb li:nth-child(4) .sub_gnb.on {
    left: 280px;
    pointer-events: auto;
}
#header #gnb-list .main_gnb li:nth-child(5) .sub_gnb.on {
    left: 365px;
    pointer-events: auto;
}
#header #gnb-list .main_gnb li:nth-child(6) .sub_gnb.on {
    left: 305px;
    pointer-events: auto;
}
/*  */
#header #gnb-list .main_gnb li .sub_gnb li a {
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #303030;
    /* transition: 0.3s; */
}

#header #gnb-list .main_gnb li .sub_gnb li:hover > a {
    border-bottom: 2px solid #f1bb00;
    font-weight: 700;
    letter-spacing: normal;
}

/* 푸터 */

#footer {
    background: #f1bb00;
    padding-bottom: 50px;
}

#footer .inner {
    height: 200px;
}
#footer h1 {
    padding-top: 30px;
    margin-bottom: 20px;
}
#footer h1 a img {
    width: 150px;
}
#footer .footer_gnb {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 0;
}
#footer .footer_gnb li {
    margin-right: 20px;
}
#footer .footer_gnb li:last-child {
    margin-right: 0;
}
#footer .footer_gnb li a {
    color: #303030;
    font-weight: bold;
}
#footer .info {
}
#footer .info p {
    /* font-weight: lighter; */
}
#footer .info p span {
    margin-right: 10px;
}
#footer .info p span::after {
    content: '';
    width: 1px;
    height: 14px;
    background: #303030;
    display: inline-block;
    margin-left: 10px;
}
#footer .info p span:last-child:after {
    display: none;
}
#footer .footer_sns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -30px;
}
#footer .footer_sns li {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#footer .footer_sns li a {
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

#footer .footer_sns li:nth-child(1) a {
    background-image: url(../../images/common/kakao.png);
}
#footer .footer_sns li:nth-child(2) a {
    background-image: url(../../images/common/naver.png);
}
#footer .footer_sns li:nth-child(3) a {
    background-image: url(../../images/common/ins.png);
}
#footer .footer_sns li:nth-child(4) a {
    background-image: url(../../images/common/blog.png);
}
#footer .footer_sns li:last-child {
    margin-right: 0;
}
