/*   login */
body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-image: url(../../images/content/login/login_bg.jpg);
}
#login .login {
    margin: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login .login img {
    margin-top: 100px;
    margin-bottom: 80px;
    width: 147px;
    height: 80px;
}

#login .login input[type='text'],
input[type='password'] {
    box-sizing: border-box;
    width: 400px;
    height: 50px;
    border: none;
    border-bottom: 3px solid #303030;
    margin-bottom: 40px;
    background: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    color: #303030;
}
input::placeholder {
    color: #303030;
    font-size: 16px;
    font-weight: 300;
}
#login .login .find {
    display: flex;
    margin-bottom: 90px;
    color: #303030;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

#login .login .btn-wrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login .login .btn-wrap .login {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border: none;
    color: #f1bb00;
    background-color: #303030;
    margin-bottom: 20px;
    cursor: pointer;
}
#login .login .btn-wrap .login:hover {
    font-size: 17px;
    transition: 1s;
}
#login .login .btn-wrap .join {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    color: #303030;
    font-weight: 700;
    border: 1px solid #303030;
    background-color: white;
    cursor: pointer;
}
#login .login .btn-wrap .join:hover {
    font-size: 17px;
    transition: 1s;
}

/* //  login */
